@model IEnumerable<FileSharing.Models.UploadViewModel>

@{
    ViewData["Title"] = "Results";
}

<h4>Search Results</h4>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card mb-3" >
                <div class="row g-0">
                    <div class="col-md-4">
                        @if (item.ContentType.ToLower().StartsWith("image"))
                        {
                            <img src="/Uploads/@item.FileName" width="100%" height="100%" class="card-img" alt="..." />
                        }
                      
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@item.OriginalFileName</h5>
                            @*<p class="card-text"></p>*@
                            <p class="card-text"><small class="text-muted">@item.UploadDate</small></p>
                            <br />
                            <div class="text-right" >
                                <a class="btn btn-success">Download</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OriginalFileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadDate)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody> 
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalFileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
          
        </tr>
}
    </tbody>
</table>*@
